/* Base Application Styles */

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  flex-direction: column;
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

.title {
  font-weight: bold;
}

.photo {
  width: 150px;
  height: 150px;
  margin: 0 15px;
}

#content {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  background: rgba(246,41,12,1);
  background: -moz-linear-gradient(45deg, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(105,187,191,1) 0%, rgba(243,208,65,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(246,41,12,1)), color-stop(0%, rgba(240,47,23,1)), color-stop(0%, rgba(105,187,191,1)), color-stop(100%, rgba(243,208,65,1)));
  background: -webkit-linear-gradient(45deg, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(105,187,191,1) 0%, rgba(243,208,65,1) 100%);
  background: -o-linear-gradient(45deg, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(105,187,191,1) 0%, rgba(243,208,65,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(105,187,191,1) 0%, rgba(243,208,65,1) 100%);
  background: linear-gradient(45deg, rgba(246,41,12,1) 0%, rgba(240,47,23,1) 0%, rgba(105,187,191,1) 0%, rgba(243,208,65,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#f3d041', GradientType=1 );
}

#content p {
  font-size: 4em;
  margin: auto 3%;
  color: white;
}

#image {
  display: flex;
  width: auto;
  height: 150px;
  margin-left: 2%;
}
#logo {
  display: flex;
  flex: 1;
}
#headerTitle {
  font-size: 4em;
  margin-left: 5%;
  color: white;
}

#mainContent {
  display: flex;
  flex-direction: row;
}

#photoList {
  width: 180px;
  border-right: thin solid #6abbbe;
  text-align: center;
}
#userList {
  display: flex;
  flex: 1;
  flex-direction: column;
}
#userDetail {
  border: thin solid #6abbbe;
  border-radius: 15px;
  margin: 2% 3%;
  padding: 15px 10px;
  display: flex;
  flex-direction: row;
}
/*
#userDetail .photo {
  margin: auto 15px;
}*/
.userInfo {
  flex-direction: column;
  margin: 0 2%;
  flex: 1;
}
.albumIcon {
  width: 24px; 
  height: 24px;
  margin-bottom: -0.35em;
  margin-right: 2%;
}
#photoDetail {
  margin-bottom: 10%;
}

#photoDetail img {
  object-fit: cover;
}
#photoDetail p {
  margin-top: 0;
}

#albumDetail {
  margin: 10px 0;
}
#useralbums {
  width: 30%;
  float: right;
  padding-left: 3%;
  border-left: thin solid #6abbbe;
}
#albumDetail:hover {
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  #photoList {
    display: none;
  }
}
@media screen and (max-width: 620px) {
  #content p {
    display: none;
  }
}
